
.address{float:left;position:relative;margin-left:2px;}

.select{width:80px;float:left;height:30px;line-height:30px;padding-left:5px;padding-right:5px;border:solid 1px #016FB7;
text-align:center;cursor:pointer;overflow:hidden;background:#fff;}
.select:hover{border:solid 1px #016FB7;background:#DFF2FF;}


.areaList{width:380px;float:left;;position:absolute;top:31px;left:0px;
background:#DFF2FF;padding:5px;border:solid 1px #005EAC;display:none;z-index:9199}

A.closeList{width:12px;height:12px;float:left;;position:absolute;left:100%;top:3px;margin-left:-15px;
background:url(/images/p/closeBtn.png) no-repeat 0px 0px;
}
A.closeList:hover{background:url(/images/p/closeBtn.png) no-repeat 0px -22px;}


A.a_select{background:#DFF2FF;float:left;word-wrap: keep-all;padding-left:3px;padding-right:3px;margin-left:3px;word-break:keep-all;height:30px;line-height:30px; FONT-SIZE: 13px; COLOR: #005EAC; TEXT-DECORATION: none;text-align:center;}
A.a_select:hover{color:#ffffff;background:#016FB7; }









	.selectAddress{overflow:visible;word-break:keep-all;background:#ffffff;text-align:center;cursor:pointer;float:left;width:100px;height:30px;border:solid 1px #94D8FB;line-height:30px;margin-left:5px;margin-right:5px;font-size:12px}

.selectBoard
{display:none;width:380px;height:300px;background:#ffffff;position:absolute;
overflow: hidden; z-index:99999;border: 1px solid #1581DB;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); 
opacity:0.9;
}

